body {
    background-color: black;
}

.div-piano {
    margin-left: 27%;
    margin-right: 20%;
    margin-top: 15%;
    display: flex;

}


.btn-piano {
    width: 50px;
    height: 250px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: 20px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



